@CHARSET "UTF-8";
@import url(robin.css);

table{width:480px;height:400px;}
table input,b{ font-size:16pt; font-weight:bold; }
table tr td {margin-top: 10px;border: 1px solid gray;}


.guest_wrap{width:1000px;border:1px solid blue;}
.divCenter{width:700px; margin:0 auto;}
table {border-collapse: collapse;}
